<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h1>Python_DB</h1>
    <form method="post" action="">
        ユーザー名 <input name="input_user" id="user" type="text" size="30" placeholder="ユーザー名">

        理由 <input name="input_reason" id="reason" type="text" size="30" placeholder="BAN理由">

        日付 <input name="input_dates" id="dates" type="text" size="30" placeholder="XXXX-XX-XX">

        証拠 <input name="input_evidence" id="evidence" type="text" size="30" placeholder="https://example.com">
        <input name="Button1" type="submit" value="書き込み">
    </form>
</body>
</html>